<% if (existItem) { %>
<h4 class="border-bottom">かごには以下の商品が入っています</h4>
<div class="container-fluid sm-padding-horizontal-0 sm-width-new-item">
  <div class="row d-flex justify-content-center">
  <!-- 商品情報をループして出力させる -->
    <div class="card sm-search-item w-75" >
      <% for (var item of items) { %>
      <div class="row no-gutters mb-3 border-bottom">
        <div class="col-4">
          <a href="/detail?id=<%= item.id %>">
            <img src="<%= item.img %>" class="card-img sm-height-200 sm-width-200">
          </a>
        </div>
        <div class="col-4">
          <div class="card-body h-100 d-flex ml-auto align-items-center">
            <a href="/detail?id=<%= item.id %>">
              <%= item.name %>
            </a>
          </div>
        </div>
        <div class="col-2">
          <div class="card-body h-100 d-flex ml-auto align-items-center">
            <input type="number" name="quantity" value="<%= item.quantity %>" min="1" style="max-width:40px;">
          </div>
        </div>
        <div class="col-2">
          <div class="card-body h-100 d-flex ml-auto align-items-end">
            単価:<%= item.price %>円
          </div>
        </div>
      </div>
      <% } %>
    </div>
    <div class="sum">総計
      <span id="sum"></span>
    </div>
  </div>
</div>
<% } else { %>
<h4 class="border-bottom">かごは空です</h4>
<% } %>
