<% if (existItem) { %>
<h4 class="border-bottom">かごには以下の商品が入っています</h4>
<div class="container-fluid sm-padding-horizontal-0 sm-width-new-item">
  <div class="row d-flex justify-content-center">
  <!-- 商品情報をループして出力させる -->
    <div class="card sm-search-item w-75" >
      <% var i = 0; var sumPrice = 0; %>
      <% for (var item of items) { %>
        <div class="row no-gutters mb-3 border-bottom">
          <div class="col-4">
            <a href="/detail?id=<%= item.id %>">
              <img src="<%= item.img %>" class="card-img sm-height-200 sm-width-200">
            </a>
          </div>
          <div class="col-4">
            <div class="card-body h-100 d-flex ml-auto align-items-center">
              <a href="/detail?id=<%= item.id %>">
                <%= item.name %>
              </a>
            </div>
          </div>
          <div class="col-2">
            <div class="card-body h-100 d-flex ml-auto align-items-center">
              <label>
                数量: 
                <select onChange="reCalcPrice(<%= items.length %>)" id="quantity-<%= i %>">
                  <option value="<%= item.quantity %>"><%= item.quantity %></option>
                  <!-- 現在の数量を除いた値を -->
                  <% for (var j=1; j<10; j ++) { %>
                    <% if (j == item.quantity) { continue; } %>
                    <option value="<%= j %>"><%= j %></option>
                  <% } %>
                </select>
              </label>
            </div>
          </div>
          <div class="col-2">
            <div class="card-body h-100 d-flex ml-auto align-items-end">
              <label><span id="price-<%= i %>"><%= item.price %></span>円</label>
            </div>
          </div>
        </div>
      <% i++; sumPrice += item.price * item.quantity; %>
      <% } %>
    </div>
  </div>
  <div class="d-flex justify-content-end">
    <label class="sm-sum-price">総計：<span id="sum"><%= sumPrice %></span>円</label>
  </div>
</div>
<% } else { %>
<h4 class="border-bottom">かごは空です</h4>
<% } %>
